.Blog-Container > h1 {
  display: flex;
  width: 8vh;
  height: 2vh;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em; 
  grid-area: 1/1/1/1;
}
.Blog-Container > #Buttons {
  display: flex;
  width: 10vh;
  height: 10vh;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em; 
  grid-area: 2/1/2/1;
}
#Buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
}
#button-one {
  background-color: #0f4c81;
  color: aqua;
}
#button-one:hover {
  background-color: #92a8d1;
  color: black;
}
#button-two:hover {
  background-color: #92a8d1;
}
.content {
  font-family: "Roboto", sans-serif;
}

button {
  padding: 0.25em;
}
