@import "./Style2.css";

body {
  background-color: #ece8d9;
}
.main-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 50px 650px;
  justify-content: center;
  align-content: flex-start;
  grid-gap: 1em;
 
}
.nav {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 0px;
  gap: 4em;
  color: aqua;
  border-radius: 1rem;
  background-color: #9b4dca; 
  grid-area: 1/1/3/3;
}

@media (min-width: 600px) {
  .nav {
    gap: 10em;
  }
}
@media (min-width: 900px) {
  .nav {
    gap: 16em;
  }
}

.Blog-Container {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 100px 450px;
  grid-template-rows: 100px 500px;
  background-color: #56c6a9;
  border-radius: 10px; 
  box-shadow: 10px 5px 5px gray;
  grid-area: 2/1/3/3;
}

footer {
  display: flex;
  width: 100vw;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;  
  background-color: #ddcfbe;
}
