/* this styling is for the navbar responsiveness */


/*at less than 600px this will be applied including 320px [mobile devices]*/
.nav {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 0px;
    gap: 4em;
    color: aqua;
    border-radius: 1rem;
    background-color: aqua; 
    grid-area: 1/1/3/3;
  }
@media (min-width: 600px) {
    .nav {
      gap: 10em;
    }
  }
  @media (min-width: 900px) {
    .nav {
      gap: 16em;
    }
  }